Redirect Permanent /blueprint/simple /schemas/blueprint/simple.xsd
Redirect Permanent /binding/coloc /schemas/coloc-feature.xsd
Redirect Permanent /bindings/corba  /schemas/wsdl/corba-binding.xsd
Redirect Permanent /bindings/object /schemas/bindings/object.xsd
Redirect Permanent /bindings/soap  /schemas/configuration/soap.xsd
Redirect Permanent /bindings/xformat /schemas/wsdl/xml-binding.xsd
Redirect Permanent /blueprint/binding/object /schemas/bindings/blueprint/object.xsd
Redirect Permanent /blueprint/bindings/soap /schemas/configuration/blueprint/soap.xsd
Redirect Permanent /blueprint/core /schemas/blueprint/core.xsd
Redirect Permanent /blueprint/jaxrs /schemas/blueprint/jaxrs.xsd
Redirect Permanent /blueprint/jaxrs-common /schemas/blueprint/jaxrs-common.xsd
Redirect Permanent /blueprint/jaxrs-client /schemas/blueprint/jaxrs-client.xsd
Redirect Permanent /blueprint/jaxws /schemas/blueprint/jaxws.xsd
Redirect Permanent /blueprint/policy /schemas/blueprint/policy.xsd
Redirect Permanent /bus/extension /schemas/configuration/extension.xsd
Redirect Permanent /clustering /schemas/clustering.xsd
Redirect Permanent /configuration/beans  /schemas/configuration/cxf-beans.xsd
Redirect Permanent /configuration/parameterized-types  /schemas/configuration/parameterized-types.xsd
Redirect Permanent /configuration/security /schemas/configuration/security.xsd
Redirect Permanent /core  /schemas/core.xsd
Redirect Permanent /jaxrs /schemas/jaxrs.xsd
Redirect Permanent /jaxrs-common /schemas/jaxrs-common.xsd
Redirect Permanent /jaxrs-client /schemas/jaxrs-client.xsd
Redirect Permanent /jaxws /schemas/jaxws.xsd
Redirect Permanent /management /schemas/configuration/instrumentation.xsd
Redirect Permanent /policy  /schemas/policy.xsd
RedirectMatch 301 /services/XKMS(.*) /docs/xml-key-management-service-xkms
Redirect Permanent /simple  /schemas/simple.xsd
Redirect Permanent /tools/plugin  /schemas/plugin.xsd
Redirect Permanent /transports/http-jetty/configuration  /schemas/configuration/http-jetty.xsd
Redirect Permanent /transports/http/configuration /schemas/configuration/http-conf.xsd
Redirect Permanent /transports/jms /schemas/configuration/jms.xsd
Redirect Permanent /transports/jms/context /schemas/wsdl/jms-context.xsd
Redirect Permanent /transports/jms/uri /schemas/wsdl/jms-uri.xsd
Redirect Permanent /ws/addressing  /schemas/ws-addr-conf.xsd
Redirect Permanent /ws/rm/manager  /schemas/configuration/wsrm-manager.xsd




